.bgimage{
  justify-content: center;
  background-image: url(./assets/bgimage.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  object-fit: cover;
}

.brandname{
  margin-left: 10px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons{
 margin-right: 20px;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.header{
  font-weight:bold;
  text-align: center;
}

.search-button{
  width:'50%';
  height:'15%';
  padding:'2%';
  border-radius: 30px 30px 30px 30px;
}




label{
  display: block;
  font-weight: bold;
}